{% extends 'website-master.html' %} {% block content %}
<br />
<form class="row g-3" action="{% url 'addmonthlyinvestment' %}" method="POST">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Investment Name</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      placeholder="Enter the Name of the investment"
      name="investmentName"
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Investment Amount</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Amount you invested"
      name="investmentAmount"
      value=""
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Investment Currency</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Currency in three letter format"
      name="investmentCurrency"
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Investment Converted</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Please enter 0 in case you don't want to convert yourself"
      name="investmentConverted"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Income Date</label>
    <input
      type="date"
      class="form-control"
      id="inputCity"
      placeholder="When you started investment"
      name="investmentDate"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enter Investment</button>
  </div>
</form>

<br />
{% endblock %}
