{% extends 'website-master.html' %} {% block content %}
<br />
<form
  class="row g-3"
  action="{% url 'editmonthlyinvestment' modified_object.id %}"
  method="POST"
>
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Income Name</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="investmentName"
      value="{{modified_object.investmentName}}"
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Income Amount</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Amount"
      name="investmentAmount"
      value="{{modified_object.investmentAmount}}"
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Income Currency</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Currency in three letter format"
      name="investmentCurrency"
      value="{{modified_object.investmentCurrency}}"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Income Date</label>
    <input
      type="date"
      class="form-control"
      id="inputCity"
      name="investmentDate"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enter Income</button>
  </div>
  <div class="col-12">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-dark"
      ><i class="bi bi-box-arrow-in-left"></i> Back</a
    >
  </div>
</form>

<br />
{% endblock %}
