{% extends 'website-master.html' %} {% block content %}
<br />
<div class="row">
  <div class="col-md-12">
    <p class="fs-4 fw-semibold">
      Regular Monthly Investment
      <i class="bi bi-caret-right-fill text-info mb-2"></i
      >{{totalMonthlyInvestment|floatformat:2}}
    </p>
    <table
      class="table table-striped-columns table-info table-hover table-bordered"
    >
      <thead class="table-dark">
        <tr>
          <th scope="col">Investment Name</th>
          <th scope="col">Investment Amount</th>
          <th scope="col">Investment Date</th>
          <th scope="col">Investment Currency Date</th>
          <th scope="col">Investment in USD</th>
        </tr>
      </thead>
      <tbody>
        {% for eachInvestmentItem in allmonthlyinvestments %}
        <tr>
          <th scope="row">
            <a
              class="link-secondary"
              href="{% url 'editmonthlyinvestment' eachInvestmentItem.id %}"
              >{{ eachInvestmentItem.investmentName }}</a
            >
          </th>
          <td>{{ eachInvestmentItem.investmentAmount|floatformat:2 }}</td>
          <td>{{ eachInvestmentItem.investmentDate }}</td>
          <td>{{ eachInvestmentItem.investmentCurrency }}</td>
          <td>${{ eachInvestmentItem.investmentConverted }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br />
{% endblock %}
