{% extends 'website-master.html' %} {% block content %}
<br />
<form
  class="row g-3"
  action="{% url 'editmonthlyexpense' edited_object.id %}"
  method="POST"
>
  {% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Expense Name</label>
    <input
      type="text"
      class="form-control"
      id="inputEmail4"
      name="expenseName"
      value="{{edited_object.expenseName}}"
    />
  </div>
  <div class="col-md-6">
    <label for="inputAddress" class="form-label">Expense Amount</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Enter Amount"
      name="expenseAmount"
      value="{{edited_object.expenseAmount}}"
    />
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Expense Date</label>
    <input
      type="date"
      class="form-control"
      id="inputCity"
      name="expenseDate"
      value="{{edited_object.expenseDate}}"
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Enter Expense</button>
  </div>
  <div class="col-12">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-outline-dark"
      ><i class="bi bi-box-arrow-in-left"></i> Back</a
    >
  </div>
</form>
<br />
{% endblock %}
